html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    background: #38516B;
    color: black;}

textarea{
    border:0;
    background-color:#C7EDCC;
    color: black;
    height: auto;
}

p.sansserif{
    font-family:Arial,Helvetica,sans-serif;}

.left{
    height:100%;
    width:10%;
    float:left;
}
.main{
    width: 80%;
    height: 100%;
    float:left;
}
.right{
    height:100%;
    width:10%;
    float:right;
}

.tr_odd
{
    background: #336666;
}
.tr_even
{
    background: #996633;
}
tr.focus{
    background-color:Orange;
}

