html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    background: #38516B;
    color: black;}

p.sansserif{
    font-family:Arial,Helvetica,sans-serif;}

.left{
    height:100%;
    width:10%;
    float:left;
}
.main{
    width: 80%;
    height: 100%;
    float:left;
}
.right{
    height:100%;
    width:10%;
    float:right;
}

.tr_odd
{
    background: #EBF2FE;
}
.tr_even
{
    background: #B4CDE6;
}
tr.focus{
    background-color:Orange;
}