{% macro render_page_data(page_data,page_function) %}
  <div class="page_data" align="center" style="font-family:verdana;font-size:20px;color:blue;width:100%;">
    <span><a href="{{ url_for(page_function,page = 1) }}">首页</a></span>
    {% if page_data.has_prev %}
      <span><a href="{{ url_for(page_function,page = page_data.prev_num) }}">«</a></span>
    {% endif %}
    {% for page in page_data.iter_pages() %}
      {% if page %}
        {% if page !=page_data.page %}
          <span><a href="{{ url_for(page_function,page = page) }}">{{ page }}</a></span>
        {% else %}
          <span class="active"><a href="#">{{ page }}</a></span>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if page_data.has_next %}
      <span><a href="{{ url_for(page_function,page = page_data.next_num) }}">»</a></span>
    {% endif %}
    <span><a href="{{ url_for(page_function,page = page_data.pages) }}">末页</a></span>
  </div>
{% endmacro %}