<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table id="header_line_table" class="sansserif" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
        <b style="font-size:25px;">Time Line</b><br>
        <thead height="40px" style="font-size:20px;">
            <th>ID</th>
            <th>Time</th>
            <th>Sender</th>
            <th>Target</th>
            <th>Message</th>
            <th>Client Order ID</th>
            <th>Details</th>
        </thead>
        <tbody>
            {% for item in pagination.items %}
                <tr align='center' height='30'>
                    <td>{{ item.id }}</td>
                    <td>{{ item.time }}</td>
                    <td>{{ item.sender }}</td>
                    <td>{{ item.target }}</td>
                    <td>{{ item.client_order_id }}</td>
                    <td>{{ item.message }}</td>
                    <td>{{ item.details }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>